@{ 
    if (ViewData["Title"] != null)
    {
        ViewData[ViewData["Title"].ToString()] = "selected";
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"] - Экспертный инструмент</title>
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <environment include="Development">
        <link rel="shortcut icon" href="~/img/icon.png" type="image/png">
        <link rel="stylesheet" type="text/css" href="~/css/base.css">
        <link rel="stylesheet" type="text/css" href="~/css/master.css">
        @if (ViewBag.Styles != null)
        {
            @foreach (string css in ViewBag.Styles)
            {
                <link rel="stylesheet" href="@css" />
            }
        }
    </environment>

</head>
<body>
    <div id="page-wrapper">
        @if (!(ViewData["DisplayMenu"] is bool) || (bool)ViewData["DisplayMenu"] != false)
        {
            <!-- header -->
            <header>
                <nav class="menu-main">
                    <ul>
                        <li>
                            <a href="~/Home/Index" class="@ViewData["Главная"]">
                                <div class="menu-item-highlight"></div>
                                Главная
                            </a>
                        </li>
                        <li>
                            <a href="~/Home/About" class="@ViewData["О проекте"]">
                                <div class="menu-item-highlight"></div>
                                О проекте
                            </a>
                        </li>
                        <li>
                            <a href="~/Home/Help" class="@ViewData["Инструкция"]">
                                <div class="menu-item-highlight"></div>
                                Инструкция
                            </a>
                        </li>
                        <li>
                            <a href="~/Home/Profile" class="@ViewData["Личный кабинет"]">
                                <div class="menu-item-highlight"></div>
                                Личный кабинет
                            </a>
                        </li>
                        <!-- <a id="logo" href="https://www.youtube.com/results?search_query=Inessa+Kozhurina">
                            <img src="img/logo.png" alt="mount logo">
                        </a> -->
                    </ul>
                    <dic class="clear"></dic>
                </nav>
            </header>
        }



        <!-- content -->
            <section class="content">
                @RenderBody()
            </section>



        <!-- footer -->
        <footer>
            Экспертный инструмент
            <br> Телефон: 8 (912) 012-00-12
            <br> E-mail: for.example@email.com
            <br>
            <div class="signature">&copy; Web-site by Roman Batin & Sergei Solovev 2018</div>
        </footer>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>