@{
    ViewData["Title"] = ViewBag.Person?.Name;
}

@if (ViewBag.User is Expert)
{
    <div class="block">
        <div class="block-title">
            Персона
        </div>
        <div class="block-content">
            <div class="person-detailed">
                <h2 class="name">
                    @ViewBag.Person?.Name
                    <img src="@ViewBag.Person?.Photo" />
                </h2>
                <div class="position">Должность: @ViewBag.Person?.Position</div>
                <div class="birthday">Дата рождения: @ViewBag.Person?.Birthday.ToShortDateString()</div>
                <hr>
                
                <p>
                    <div class="block-title">
                        Публикации
                    </div>
                    <div class="block-content">
                   @if (ViewBag.Person.Publish != null)
                   {
                       @foreach (string paragraph in ViewBag.Person.Publish.Split('\n'))
                        {
                        <p>
                            @paragraph
                        </p>
                           }
                   }
                   </div>
                </p>
                
                <p>
                    <div class="block-title">
                        Видео
                    </div>
                    <div class="block-content">
                    @if(ViewBag.Person.Video != null)
                    {
                        @foreach(string vid in ViewBag.Person.Video.Split("\n"))
                        {
                           
                            @if (vid != null)
                            {
                                 <p><a href="@vid.Substring(0, vid.LastIndexOf('/'))">@vid.Substring(vid.LastIndexOf('/'))</a></p>
                            }
                         }

                    }
                    </div>
                </p>
                <p>
                    <div class="block-title">
                        Биография
                    </div>
                    <div class="block-content">
                    @if(ViewBag.Person.Biography != null)
                    {
                        @foreach(string paragraph in ViewBag.Person.Biography.Split("\n"))
                        {
                            <p>
                                @paragraph
                            </p>
                         }

                    }
                    </div>
                </p>
                 <p>
                     <div class="block-title">
                         Публикации
                     </div>
                     <div class="block-content">
                    @if(ViewBag.Person.Career != null)
                    {
                        @foreach(string paragraph in ViewBag.Person.Career.Split("\n"))
                        {
                            <p>
                                @paragraph
                            </p>
                         }

                    }
                    </div>
                </p>
                <p>
                    <div class="block-title">
                        Религиозные взгляды
                    </div>
                    <div class="block-content">
                    @if(ViewBag.Person.ReligiousViews != null)
                    {
                        @foreach(string paragraph in ViewBag.Person.ReligiousViews.Split("\n"))
                        {
                             <p>
                                @paragraph
                            </p>
                         }

                    }
                    </div>
                </p>
                 <p>
                     <div class="block-title">
                         Цитаты
                     </div>
                     <div class="block-content">
                    @if(ViewBag.Person.Quotations != null)
                    {
                        @foreach(string paragraph in ViewBag.Person.Quotations.Split("\n"))
                        {
                            <p>
                                @paragraph
                            </p>
                         }

                    }
                    </div>
                </p>
                <p>
                    <div class="block-title">
                        Общественная деятельность
                    </div>
                    <div class="block-content">
                    @if(ViewBag.Person.SocialActivity != null)
                    {
                        @foreach(string paragraph in ViewBag.Person.SocialActivity.Split("\n"))
                        {
                            <p>
                                @paragraph
                            </p>
                         }

                    }
                    </div>
                </p>




                    <div class="published">@ViewBag.Person?.Published.ToShortDateString()</div>
                </div>
            </div>
        </div>
    }
    else if (ViewBag.User is Admin)
    {
        <div class="block">
            <div class="block-title">
                Ввод данных о персоне
            </div>
            <div class="block-content">
                @if (ViewBag.Error != null)
                {
                    <span class="error">@ViewBag.Error</span>
                    <hr>
                }
                @if (ViewBag.Success != null)
                {
                    <span class="success">@ViewBag.Success</span>
                    <hr>
                }
                    <form method="post">
                        <input type="number" name="Id" value="@ViewBag.Person?.Id" hidden />
                        ФИО <br>
                        <input type="text" name="Name" value="@ViewBag.Person?.Name" />
                        Должность<br>
                        <input type="text" name="Position" value="@ViewBag.Person?.Position" />
                        Дата рождения<br>
                        <input type="date" name="Birthday" value="@DateTimeExtensions.ToHtmlDateFormat(ViewBag.Person?.Birthday)" />
                        <hr>
                        Фото
                        <textarea name="Photo">@ViewBag.Person?.Photo</textarea>
                        Публикации
                        <textarea name="Publish">@ViewBag.Person?.Publish</textarea>
                        Видео
                        <textarea name="Video">@ViewBag.Person?.Video</textarea>
                        Биография
                        <textarea name="Biography">@ViewBag.Person?.Biography</textarea>
                        Карьера
                        <textarea name="Career">@ViewBag.Person?.Career</textarea>
                        Религиозные взгляды
                        <textarea name="ReligiousViews">@ViewBag.Person?.ReligiousViews</textarea>
                        Цитаты
                        <textarea name="Quotations">@ViewBag.Person?.Quotations</textarea>
                        Общественная активность
                        <textarea name="SocialActivity">@ViewBag.Person?.SocialActivity</textarea>
                        <div class="published">@ViewBag.Person?.Published.ToShortDateString()</div>
                        <input type="submit" value="Сохранить">
                        <input type="reset" value="Сбросить">
                    </form>
            </div>
        </div>
    }

@if (ViewBag.User is Expert)
{
    <div class="block">
        <div class="block-title">
            Экспертная оценка
        </div>
        <div class="block-content">
            <form class="evaluation" name="evaluation" method="post" action="task">
                <div class="scales">
                    @for (int i = 0; i < 10; i++)
                    {
                        <div class="scale" id="@i">
                            <input onmousemove="ChangeValue(event);"
                                   onchange="ChangeValue(event);"
                                   onload="ChangeValue(event);"                                  
                                   onmousedown="ChangeValue(event);"
                                   type="range" min="0" 
                                   max="100" size="4" required name="@EvaluationExtensions.GetPropertyname(i)" 
                                   value="@ViewBag.Conclusion?.Values[i]"
                                   class="slider">
                            @EvaluationExtensions.GetRussianPropertyName(i)
                            <div class="percent">
                                @ViewBag.Conclusion?.Values[i]%
                                                    </div>
                        </div>
                    }
                </div>
                <div class="comment">
                    Комментарии
                    <textarea name="comment" placeholder="При желании напишите здесь свои комментарии.">@ViewBag.Conclusion?.Comment</textarea>
                </div>
                <input type="submit" value="Сохранить" formaction="~/Home/EvaluatePerson/@ViewBag.Person?.Id">
                <input type="reset" forue="Очистить">
            </form>
        </div>
    </div>
    <script>
        function ChangeValue(event) { // такое себе. Надо исправить
            var id = event.target.parentElement.id;
            var value = event.target.value;
            var text = $("#" + String(id)).children(".percent").first();
                text.text(String(value) + "%");
        };


    </script>
}
else if (ViewBag.User is Admin && ViewBag.Person != null)
{
    <div class="block">
        <div class="block-title">
            Результат экспертной оценки
        </div>
        <div class="block-content">
            @if (ViewBag.Error != null)
            {
                <span class="error">@ViewBag.Error</span>
            }
            else
            {
                @for (int i = 0; i < 10; i++)
                {
                    <div class="scale">
                        <div class="column" style="width: @ViewBag.Scales[i]%"></div>
                        @EvaluationExtensions.GetRussianPropertyName(i)
                        <div class="percent">@ViewBag.Scales[i] %</div>
                    </div>
                }
            }
        </div>
    </div>

    if (ViewBag.Conclusions != null && (ViewBag.Conclusions as IEnumerable<Conclusion>).Any(cion => !string.IsNullOrWhiteSpace(cion.Comment)))
    {
        <div class="block">
            <div class="block-title">
                Комментарии экспертов
            </div>
            <div class="block-content">
                <ul>
                    @foreach (Conclusion conclusion in ViewBag.Conclusions)
                    {
                        if (!string.IsNullOrWhiteSpace(conclusion.Comment))
                        {
                            <li>
                                <h2 class="name">@conclusion.Expert.Name</h2>
                                @foreach (string paragraph in conclusion.Comment.Split('\n'))
                                {
                                    <p>
                                        @paragraph
                                    </p>
                                }
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    }
}
