@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using ExpertTool.Views;
    ViewData["Title"] = "Личный кабинет";
}

<div class="block">
    <div class="block-title">
        Персональные данные
    </div>
    <div class="block-content">
        @if (ViewBag.Error != null)
        {
            <span class="error">@ViewBag.Error</span>
            <hr>
        }
        @if (ViewBag.Success != null)
        {
            <span class="success">@ViewBag.Success</span>
            <hr>
        }
        @Html.Partial("Partial/UserForm")
    </div>
</div>

@if (ViewBag.User is Admin)
{
<div class="block">
    <div class="block-title">
        Персоны
    </div>
    <div class="block-content">
        <a href="~/Home/Person">
            <input type="button" value="Добавить персону">
        </a>
    </div>
</div>

<div class="block">
    <div class="block-title">
        <text>Experts</text>
    </div>
    <div class="block-content">
        @if (ViewBag.Experts != null)
        {
            <table class="equal-width-cols">
                <thead>
                    <tr>
                        <th>Имя</th>
                        <th>Должность</th>
                        <th>E-mail</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                @foreach (Expert exp in ViewBag.Experts)
                {
                    <tr>
                        <td>@exp.Name</td>
                        <td>@exp.Position</td>
                        <td>@exp.Email</td>
                        <td>
                            @Html.ActionLink("Изменить", "RegisteredUser", "Home", new { role = "Expert", id = exp.Id }, null)|
                            @Html.ActionLink("Удалить", "DeleteUser", "Home", new { role = "Expert", id = exp.Id }, null)
                        </td>
                    </tr>
                }
                </tbody>
            </table>
           <a href="@Url.Action("Register", "Home", new { role = "Expert"})">
               <input type="button" value="Добавить" />
           </a>
        }
        else
        {
            <text>@ViewBag.ExpertError</text>
        }
    </div>
</div>

<div class="block">
        <div class="block-title">
             <text>Админы</text>
        </div>
    <div class="block-content">
        @if (ViewBag.Admins != null)
    {
        <table class="equal-width-cols">
            <thead>
                <tr>
                    <th>Имя</th>
                    <th>Должность</th>
                    <th>E-mail</th>
                    <th></th>
                </tr>
            <tbody>
                @foreach (Admin admin in ViewBag.Admins)
            {
                <tr>
                    <td>@admin.Name</td>
                    <td>@admin.Position</td>
                    <td>@admin.Email</td>
                    <td>
                        @Html.ActionLink("Изменить", "RegisteredUser", "Home", new { role = "Admin", id = admin.Id }, null)|
                        @Html.ActionLink("Удаить", "DeleteUser", "Home", new { role = "Admin", id = admin.Id }, null)
                    </td>
                </tr>
        }
            </tbody>
        </table>
        <a href="@Url.Action("Register", "Home", new { role = "Admin"})">
            <input type="button" value="Добавить" />
        </a>
}
else
{
    <text>@ViewBag.AdminError</text>
}
    </div>
</div>
 }

        <div class="block">
            <div class="block-content">
                Выход из аккаунта происходит автоматически после окончания сессии. Чтобы выйти принудительно, нажмите
                <a href="~/Home/DeAuth">
                    <input type="button" value="Выйти">
                </a>
            </div>
        </div>